
#top-content {
	margin-top: 100px;
}
.text-bold {
	font-weight: bold;
}
.btn-cta{
	color: #268ff4;
	background: -webkit-linear-gradient(top,#fff,#fdfdfd);
	background: linear-gradient(180deg,#fff,#fdfdfd);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	box-shadow: 0 5px 14px rgba(40,48,79,0), 0 2px 4px rgba(40,48,79,.2), inset 0 -1px 4px rgba(23,78,138,.09);
}
.context{
	margin: 15px 10px;
}
.btn-cta:hover{
	color: #268ff4;
	//font-weight: bold;

}
.btn-cta:active{
	color: #268ff4;
}
.btn-cta:focus{
	color: #268ff4;
}
body, header{
	background: #F4F7FA !important;
}
.navbar-inverse{
	background-color: #33b1f8 !important;
	z-index: 2000 !important;
}

.navbar{
	margin-bottom: 0;
}

.footer_dash{
	background-color: #fff;
	border-top: 1px solid #dae1e9;
}
.img-arrow{
	height:30px;
	margin:15px auto;
}
.table-responsive{
	border: none;
}
body{
	zoom: 90%;
}


#wrapper {
	//padding-top: 50px;
	//padding-left: 50px;
	padding-top: 64px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

@media (min-width: 992px) {
	#wrapper {
		//padding-left: 225px;
	}
	#page-content-wrapper,footer{
		padding-left: 225px;
	}
}
.active-sidebar {
	width: 225px !important;
}



@media (min-width: 992px) {
	#wrapper #sidebar-wrapper {
		width: 225px;
	}
}

#sidebar-wrapper {
	border-right: 1px solid #dae1e9;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 225px;
	width: 0;
	height: 100%;
	margin-left: -225px;
	overflow-y: auto;
	background: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
	position: absolute;
	top: 0;
	width: 225px;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
	text-indent: 0;
	line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
	display: block;
	text-decoration: none;
	padding: 5px 0px;			
	color: #33b1f8;
}

		/*.sidebar-nav li:first-child a {
			background: #92bce0 !important;
			color: #fff !important;
			}*/

			#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
				width: 45px;
				height: 45px;
				font-size: 14px;
				padding: 0 2px;
				display: inline-block;
				text-indent: 7px;
				margin-right: 10px;
				color: #fff;
				float: left;
			}

			#sidebar-wrapper .sidebar-nav li a .caret {
				position: absolute;
				right: 23px;
				top: auto;
				margin-top: 20px;
			}

			#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
				list-style: none;
				-moz-padding-start: 0;
				-webkit-padding-start: 0;
				-khtml-padding-start: 0;
				-o-padding-start: 0;
				padding-start: 0;
				padding: 0;
			}

			#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
				margin-right: 10px;
			}

			#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
				text-indent: 15px;
			}

			@media (max-width: 992px) {
				#wrapper #sidebar-wrapper {
					width: 45px;
				}
				#wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
					position: fixed;
					left: 45px;
					margin-top: -45px;
					z-index: 1000;
					width: 200px;
					height: 0;
				}
				#page-content-wrapper,footer{
					padding-left: 45px;
					//margin-bottom: 100px;
				}
			}

			.sidebar-nav li a i {
				//background: #92bce0 !important;
				color: #33b1f8 !important;
			}
		/*
		.sidebar-nav li:nth-child(2) a {
			background: #6aa3d5 !important;
			color: #fff !important;
		}

		.sidebar-nav li:nth-child(3) a {
			background: #428bca !important;
			color: #fff !important;
		}

		.sidebar-nav li:nth-child(4) a {
			background: #3071a9 !important;
			color: #fff !important;
		}

		.sidebar-nav li:nth-child(5) a {
			background: #245682 !important;
			color: #fff !important;
			}*/




			.card-dash{
				border: 0;
				margin-top: 15px;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,0.07), 0 1px 1px -2px rgba(0,0,0,.02), 0 1px 5px 0 rgba(0,0,0,.02);
				transition: all 0.4s ease;
				-webkit-transition: all 0.4s ease;
				min-height: 410px;
				background-color: white;
				border: 1px solid #dae1e9;
			}
			.text-dash{
				padding: 2px 15px;
			}
			.hr-dash{
				margin: 5px 0px;
				border-top: 1px solid #dae1e9;
			}
			.color-dash{
				color: #33b1f8;
			}
			.heading-dash{
				font-size: 16px;
			}

		/**
		 * Tab Css
		 */
		 .tabbable-panel {
		 	//border:1px solid #eee;
		 	padding: 10px;
		 }
		 .nav-tabs>li>a:hover {
		 	background-color: transparent;
		 	-webkit-box-shadow: inset 0 -2px 0 #9ccbf1;
		 	box-shadow: inset 0 -2px 0 #9ccbf1;
		 }

		 /* Default mode */
		 .tabbable-line > .nav-tabs {
		 	border: none;
		 	margin: 0px;
		 }
		 .tabbable-line > .nav-tabs > li {
		 	margin-right: 2px;
		 	margin-bottom: 2px;
		 }
		 .tabbable-line > .nav-tabs > li > a {
		 	border: 0;
		 	margin-right: 0;
		 	color: #737373;
		 }
		 .tabbable-line > .nav-tabs > li > a > i {
		 	color: #a6a6a6;
		 }
		 .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
		 	//border-bottom: 4px solid #fbcdcf;
		 }
		 .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
		 	border: 0;
		 	background: none !important;
		 	color: #333333;
		 }
		 .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
		 	color: #a6a6a6;
		 }
		 .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
		 	margin-top: 0px;
		 }
		 .tabbable-line > .nav-tabs > li.active {
		 	//border-bottom: 4px solid #f3565d;
		 	//position: relative;
		 }
		 .tabbable-line > .nav-tabs > li.active > a {
		 	border: 0;
		 	color: #333333;
		 }
		 .tabbable-line > .nav-tabs > li.active > a > i {
		 	color: #404040;
		 }
		 .tabbable-line > .tab-content {
		 	margin-top: -3px;
		 	background-color: #fff;
		 	border: 0;
		 	border-top: 1px solid #eee;
		 	padding: 15px 0;
		 }
		 .portlet .tabbable-line > .tab-content {
		 	padding-bottom: 0;
		 }

		 /* Below tabs mode */

		 .tabbable-line.tabs-below > .nav-tabs > li {
		 	border-top: 4px solid transparent;

		 }
		 .tabbable-line.tabs-below > .nav-tabs > li > a {
		 	margin-top: 0;
		 }
		 .tabbable-line.tabs-below > .nav-tabs > li:hover {
		 	//border-bottom: 0;
		 	//border-top: 4px solid #fbcdcf;
		 }
		 .tabbable-line.tabs-below > .nav-tabs > li.active {
		 	margin-bottom: -2px;
		 	border-bottom: 0;
		 	border-top: 4px solid #f3565d;
		 }
		 .tabbable-line.tabs-below > .tab-content {
		 	margin-top: -10px;
		 	border-top: 0;
		 	border-bottom: 1px solid #eee;
		 	padding-bottom: 15px;
		 }

		 /**
		  * Checkbox
		  */

		  .funkyradio label {
		  	/*min-width: 400px;*/
		  	width: 100%;
		  	border-radius: 3px;
		  	border: 1px solid #D1D3D4;
		  	font-weight: normal;
		  }
		  .funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
		  	display: none;
		  }
		  .funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
		  	position: relative;
		  	line-height: 2.5em;
		  	text-indent: 3.25em;
		  	margin-top: 2em;
		  	cursor: pointer;
		  	-webkit-user-select: none;
		  	-moz-user-select: none;
		  	-ms-user-select: none;
		  	user-select: none;
		  }
		  .funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
		  	position: absolute;
		  	display: block;
		  	top: 0;
		  	bottom: 0;
		  	left: 0;
		  	content:'';
		  	width: 2.5em;
		  	background: #D1D3D4;
		  	border-radius: 3px 0 0 3px;
		  }
		  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
		  	content:'\2714';
		  	text-indent: -0.1em;
		  	color: #C2C2C2;
		  }
		  .funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
		  	color: #888;
		  }
		  .funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
		  	content:'\2714';
		  	text-indent: -0.1em;
		  	color: #333;
		  	background-color: #ccc;
		  }
		  .funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
		  	color: #777;
		  }
		  .funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
		  	box-shadow: 0 0 0 3px #999;
		  }
		  .funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
		  	color: #333;
		  	background-color: #ccc;
		  }
		  .funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
		  	color: #fff;
		  	background-color: #33b1f8;
		  }
		  .funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
		  	color: #fff;
		  	background-color: #5cb85c;
		  }
		  .funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
		  	color: #fff;
		  	background-color: #d9534f;
		  }
		  .funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
		  	color: #fff;
		  	background-color: #f0ad4e;
		  }
		  .funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
		  	color: #fff;
		  	background-color: #5bc0de;
		  }

		  /**
		   * Switch CSS
		   */

		   .onoffswitch {
		   	position: relative; width: 90px;
		   	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		   }

		   .onoffswitch-checkbox {
		   	display: none;
		   }

		   .onoffswitch-label {
		   	display: block; overflow: hidden; cursor: pointer;
		   	border: 2px solid #999999; border-radius: 20px;
		   }

		   .onoffswitch-inner {
		   	display: block; width: 200%; margin-left: -100%;
		   	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
		   	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
		   }

		   .onoffswitch-inner:before, .onoffswitch-inner:after {
		   	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
		   	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		   	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		   }

		   .onoffswitch-inner:before {
		   	content: "YES";
		   	padding-left: 10px;
		   	background-color: #2FCCFF; color: #FFFFFF;
		   }

		   .onoffswitch-inner:after {
		   	content: "NO";
		   	padding-right: 10px;
		   	background-color: #EEEEEE; color: #999999;
		   	text-align: right;
		   }

		   .onoffswitch-switch {
		   	display: block; width: 18px; margin: 6px;
		   	background: #FFFFFF;
		   	border: 2px solid #999999; border-radius: 20px;
		   	position: absolute; top: 0; bottom: 0; right: 56px;
		   	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
		   	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
		   }

		   .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
		   	margin-left: 0;
		   }

		   .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		   	right: 0px; 
		   }


		   .onoffswitch1 {
		   	position: relative; width: 90px;
		   	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		   }

		   .onoffswitch1-checkbox {
		   	display: none;
		   }

		   .onoffswitch1-label {
		   	display: block; overflow: hidden; cursor: pointer;
		   	border: 2px solid #999999; border-radius: 30px;
		   }

		   .onoffswitch1-inner {
		   	display: block; width: 200%; margin-left: -100%;
		   	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
		   	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
		   }

		   .onoffswitch1-inner:before, .onoffswitch1-inner:after {
		   	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
		   	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		   	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		   	border-radius: 30px;
		   	box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
		   }

		   .onoffswitch1-inner:before {
		   	content: "YES";
		   	padding-left: 10px;
		   	background-color: #2FCCFF; color: #FFFFFF;
		   	border-radius: 30px 0 0 30px;
		   }

		   .onoffswitch1-inner:after {
		   	content: "NO";
		   	padding-right: 10px;
		   	background-color: #EEEEEE; color: #999999;
		   	text-align: right;
		   	border-radius: 0 30px 30px 0;
		   }

		   .onoffswitch1-switch {
		   	display: block; width: 30px; margin: 0px;
		   	background: #FFFFFF;
		   	border: 2px solid #999999; border-radius: 30px;
		   	position: absolute; top: 0; bottom: 0; right: 56px;
		   	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
		   	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
		   	background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
		   	background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
		   	background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
		   	background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
		   	box-shadow: 0 1px 1px white inset;
		   }

		   .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
		   	margin-left: 0;
		   }

		   .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-switch {
		   	right: 0px; 
		   }

		   .onoffswitch2 {
		   	position: relative; width: 90px;
		   	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		   }

		   .onoffswitch2-checkbox {
		   	display: none;
		   }

		   .onoffswitch2-label {
		   	display: block; overflow: hidden; cursor: pointer;
		   	border: 2px solid #999999; border-radius: 5px;
		   }

		   .onoffswitch2-inner {
		   	display: block; width: 200%; margin-left: -100%;
		   	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
		   	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
		   }

		   .onoffswitch2-inner:before, .onoffswitch2-inner:after {
		   	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
		   	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		   	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		   }

		   .onoffswitch2-inner:before {
		   	content: "YES";
		   	padding-left: 10px;
		   	background-color: #2FCCFF; color: #FFFFFF;
		   }

		   .onoffswitch2-inner:after {
		   	content: "NO";
		   	padding-right: 10px;
		   	background-color: #EEEEEE; color: #999999;
		   	text-align: right;
		   }

		   .onoffswitch2-switch {
		   	display: block; width: 18px; margin: 0px;
		   	background: #FFFFFF;
		   	border: 2px solid #999999; border-radius: 5px;
		   	position: absolute; top: 0; bottom: 0; right: 68px;
		   	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
		   	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
		   	background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		   	background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		   	background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		   	background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
		   }

		   .onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
		   	margin-left: 0;
		   }

		   .onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
		   	right: 0px; 
		   }

		   .onoffswitch3
		   {
		   	position: relative; width: 90px;
		   	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		   }

		   .onoffswitch3-checkbox {
		   	display: none;
		   }

		   .onoffswitch3-label {
		   	display: block; overflow: hidden; cursor: pointer;
		   	border: 0px solid #999999; border-radius: 0px;
		   }

		   .onoffswitch3-inner {
		   	display: block; width: 200%; margin-left: -100%;
		   	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
		   	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
		   }

		   .onoffswitch3-inner > span {
		   	display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
		   	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		   	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		   }

		   .onoffswitch3-inner .onoffswitch3-active {
		   	padding-left: 10px;
		   	background-color: #EEEEEE; color: #FFFFFF;
		   }

		   .onoffswitch3-inner .onoffswitch3-inactive {
		   	padding-right: 10px;
		   	background-color: #EEEEEE; color: #FFFFFF;
		   	text-align: right;
		   }

		   .onoffswitch3-switch {
		   	display: block; width: 18px; margin: 0px; text-align: center; 
		   	border: 0px solid #999999;border-radius: 0px; 
		   	position: absolute; top: 0; bottom: 0;
		   }
		   .onoffswitch3-active .onoffswitch3-switch {
		   	background: #27A1CA; left: 0;
		   }
		   .onoffswitch3-inactive .onoffswitch3-switch {
		   	background: #A1A1A1; right: 0;
		   }

		   .onoffswitch3-active .onoffswitch3-switch:before {
		   	content: " "; position: absolute; top: 0; left: 18px; 
		   	border-style: solid; border-color: #27A1CA transparent transparent #27A1CA; border-width: 15px 9px;
		   }


		   .onoffswitch3-inactive .onoffswitch3-switch:before {
		   	content: " "; position: absolute; top: 0; right: 18px; 
		   	border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 15px 9px;
		   }


		   .onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
		   	margin-left: 0;
		   }

		   .onoffswitch4 {
		   	position: relative; width: 90px;
		   	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		   }

		   .onoffswitch4-checkbox {
		   	display: none;
		   }

		   .onoffswitch4-label {
		   	display: block; overflow: hidden; cursor: pointer;
		   	border: 2px solid #27A1CA; border-radius: 0px;
		   }

		   .onoffswitch4-inner {
		   	display: block; width: 200%; margin-left: -100%;
		   	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
		   	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
		   }

		   .onoffswitch4-inner:before, .onoffswitch4-inner:after {
		   	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
		   	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
		   	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		   	border: 2px solid transparent;
		   	background-clip: padding-box;
		   }

		   .onoffswitch4-inner:before {
		   	content: "BTC";
		   	padding-left: 10px;
		   	background-color: #FFFFFF; color: #27A1CA;
		   }

		   .onoffswitch4-inner:after {
		   	content: "INR";
		   	padding-right: 10px;
		   	background-color: #FFFFFF; color: #666666;
		   	text-align: right;
		   }

		   .onoffswitch4-switch {
		   	display: block; width: 25px; margin: 0px;
		   	background: #27A1CA;
		   	position: absolute; top: 0; bottom: 0; right: 65px;
		   	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
		   	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
		   }

		   .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
		   	margin-left: 0;
		   }

		   .onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
		   	right: 0px; 
		   }
		   .navbar-toggle {

		   	padding: 5px 10px !important;
		   }
		   .price li {
		   	float: right;
		   }



